{block #content}

<section class="page-heading">
    <div class="container-fluid">
        <h1 n:block="title">{_'User Form'}</h1>
    </div>
</section>

<section class="form">
    <div class="container-fluid">
        <div class="card">
            <div class="card__body">
                {control userForm}
            </div>
        </div>
    </div>
</section>

{define scripts}
    <script src="{$basePath}/FrontModule/dist/form.js"></script>
{/define}
