RewriteEngine On
RewriteBase /

#RewriteCond %{REQUEST_URI} \.well-known/acme-challenge/.*
#RewriteRule ^.* - [L]

#RewriteCond %{HTTPS} off
#RewriteCond %{HTTP:X-Forwarded-Proto} !https
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^(.*)$ www/$1 [L]

# prevents files starting with dot to be viewed by browser
RewriteRule /\.|^\. - [F]
