parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false

    paths:
        - app

    level: 6

    bootstrapFiles:
        - app/constants.php

    excludes_analyse:
        - app/Model/Database/EntityManager.php
        - app/Modules/Front/DatagridPresenter.php