{varType App\Model\Database\Entity\Mailing $mailing}
{varType array $data}
<table width="700" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff"
       style="margin:0 auto;border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;"
       class="wrapper-table">
    <tr>
        <td width="700" height="32" style="line-height: 1px;font-size: 1px;">
            &nbsp;
        </td>
    </tr>
</table>
