{block #content}

<Composer
    :back-button="'{link 'Mailing:list'}'"
    :preview-button="'{link 'Editor:preview', $mailing->getId()}'"
    :id="{$mailing->getId()}"
    :lang="'cs'" />

{define scripts}
    <script src="/FrontModule/dist/composer.js"></script>
{/define}