services:
    - App\Model\Router\RouterFactory
    router:
        class: Nette\Application\IRouter
        factory: @App\Model\Router\RouterFactory::create

    translator: App\Model\Localization\Translator

    latte.templateFactory:
        class: App\Model\Latte\TemplateFactory

    nette.userStorage:
        setup:
            - setNamespace("Newsletter")

    security.passwords: App\Model\Security\Passwords
    security.user: App\Model\Security\SecurityUser
    security.authenticator: App\Model\Security\Authenticator\UserAuthenticator

    # form factories
    - App\UI\Form\SignInFormFactory
    - App\UI\Form\RecipientGroupFormFactory
    - App\UI\Form\RecipientFormFactory
    - App\UI\Form\ImportXlsFormFactory
    - App\UI\Form\AccountFormFactory
    - App\UI\Form\UserFormFactory
    - App\UI\Form\UnsubscribeFormFactory
    - App\UI\Form\SendTestFormFactory

    # paginator
    - AlesWita\VisualPaginator\VisualPaginatorFactory

    # session
    - App\Model\Session\AccountSession

    # domain
    - App\Domain\Import\ImportFromExcel
    - App\Domain\Helper\Statistics
    - App\Domain\Helper\FileUpload

    # console
    - {class: App\Model\Console\SendMailingsCommand, tags: {console.command: mailing:send}}
    - {class: App\Model\Console\FinishPausedQueueCommand, tags: {console.command: mailing:finishPausedQueue}}
    - {class: App\Model\Console\GenerateTranslationsCommand, tags: {console.command: app:generateTranslations}}

latte:
    macros:
        - App\Model\Latte\Macros::register

translation:
    loaders:
        mo: Symfony\Component\Translation\Loader\MoFileLoader
    locales:
        whitelist: [cs, en]
        default: en
        fallback: [en]
    dirs:
        - %appDir%/Language
    localeResolvers!: [App\Model\Localization\LanguageResolver]
